<h1>Trip#new</h1>
<p>Find me in app/views/trip/new.html.erb</p>

<%= form_with(model: @trip, url: trip_index_path, method: :post, local: true) do |form| %>
  <%= form.text_field :title %>
  <%= form.text_area :detail %>
  <%= form.date_select :start_date %>
  <%= form.date_select :end_date %>
  <%= form.text_field :image %>
  <%= form.submit "送信" %>
<% end %>

<%= link_to '旅行一覧に戻る', top_path %>
